<div
  class="w-full h-screen bg-c1 p-4 md:p-9 relative font-EncodeSansSC text-c2"
>
  <div
    class="w-full h-full border-[1px] border-gray-500 p-8 text-c2 gradient overflow-hidden relative"
  >
    <!-- Background Animation -->
    <div class="ocean">
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <section>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </section>
    <div id="space">
      <div class="stars"></div>
    </div>
    <div
      class="absolute md:top-48 md:right-4 bottom-4 right-4 flex justify-center items-center md:block z-10"
    >
      <div class="md:w-64 w-64 rounded-lg p-2 cursor-default">
        <h1 class="font-Roboto text-right md:text-right text-base font-semibold opacity-85">
          Originating from the illustrious city of Bangalore, I ardently espouse
          the belief that web design has the capacity to transcend boundaries of
          mere functionality and ascend to a realm of heightened robustness,
          resplendent aesthetic appeal, and unparalleled uniqueness. Driven by
          an unwavering dedication to unveil the boundless potentialities of web
          design, I embark on a perpetual quest, ceaselessly experimenting with
          innovative expressions and cultivating profound musings that emanate
          from the depths of my discerning mind.
        </h1>
      </div>
    </div>
    <div
      class="absolute md:top-4 md:right-4 top-4 left-4 flex flex-col md:items-end gap-3"
    >
      <h1
        class="font-EncodeSansSC text-[16vw] md:text-7xl lg:text-9xl font-extrabold tracking-widest"
      >
        STUDENT
      </h1>
      <h1
        class="font-EncodeSansSC text-[4vw] md:text-xl font-extrabold tracking-widest opacity-50"
      >
        Sophomore At SRM University, Chennai
      </h1>
    </div>
  </div>
  <app-navbar></app-navbar>
</div>
