<!-- Desktop Navbar -->
<div class="font-SpaceGrotesk z-40">
  <div
    class="absolute top-0 bottom-9 left-0 right-9 lg:flex lg:flex-col justify-end lg:items-end pb-3 overflow-auto text-c2 hidden"
  >
    <div class="parent flex flex-col items-end w-fit h-fit">
      <div *ngFor="let navOption of currentNavOption">
        <a
          routerLink="/{{ navOption.path }}"
          class="text-[3vw] lg:text-[5vw] opacity-10 tracking-[25px] font-SpaceGrotesk hover:opacity-100 duration-100 hover:text-[6vw] child"
        >
          {{ navOption.name }}
        </a>
      </div>
      <h1
        class="text-[3vw] lg:text-[5vw] opacity-10 tracking-[25px] font-SpaceGrotesk hover:opacity-100 duration-100 cursor-default"
      >
        {{ routeName[0].name }}
      </h1>
    </div>
  </div>
</div>
