.navBar {
  transform: translateY(13%);
}

.in {
  animation: in 1s forwards;
}

@keyframes in {
  0% {
    transform: translateY(13%);
  }
  100% {
    transform: translateY(0%);
  }
}

.out {
  animation: out 1s forwards;
}

@keyframes in {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(13%);
  }
}

.child {
  display: none;
  opacity: 10;
}

.parent:hover .child:hover {
  opacity: 1;
}

.parent:hover .child {
  display: block;
  opacity: 0.1;
}

.textShadow {
  text-shadow: 5px 5px 0px #d80707, -5px -5px 0px #071cd8;
}
