<div class="w-full h-screen bg-c1 md:p-9 relative font-EncodeSansSC">
  <!-- Background Animation -->
  <div class="anim"></div>
  <!-- Desktop Socials -->
  <div
    class="absolute bg-transparent w-[50px] h-screen gap-5 top-0 left-0 pb-8 pr-5 text-c2 text-2xl hidden md:block z-30"
  >
    <div class="w-full h-full flex flex-col gap-2 justify-end">
      <div class="self-end">
        <a
          href="https://www.linkedin.com/in/pradyumna-d-95a88123b/"
          target="_blank"
        >
          <fa-icon [icon]="linkedIn"></fa-icon>
        </a>
      </div>
      <div class="self-end">
        <a href="https://github.com/YARE0909" target="_blank">
          <fa-icon [icon]="gitHub"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <!-- Desktop View -->
  <div
    class="w-full h-full border-[1px] border-gray-500 p-8 text-c2 gradient overflow-hidden hidden md:block relative"
  >
    <div class="flex flex-col w-fit h-fit gap-2">
      <div>
        <h1 class="text-6xl font-thin">Pradyumna D</h1>
      </div>
      <div>
        <h1 class="font-EncodeSansSC text-xs font-light">Web Developer</h1>
      </div>
    </div>
  </div>
  <!-- Mobile View -->
  <div
    class="w-full h-full border-[1px] border-gray-500 p-8 text-c2 gradient overflow-hidden md:hidden relative"
  >
    <div
      class="absolute flex flex-col items-center justify-center top-0 left-0 right-0 bottom-0"
    >
      <h1 class="text-5xl font-EncodeSansSC font-thin">P</h1>
      <h1 class="text-5xl font-EncodeSansSC font-thin">r</h1>
      <h1 class="text-5xl font-EncodeSansSC font-thin">a</h1>
      <h1 class="text-5xl font-EncodeSansSC font-thin">d</h1>
      <h1 class="text-5xl font-EncodeSansSC font-thin">y</h1>
      <h1 class="text-5xl font-EncodeSansSC font-thin">u</h1>
      <h1 class="text-5xl font-EncodeSansSC font-thin">m</h1>
      <h1 class="text-5xl font-EncodeSansSC font-thin">n</h1>
      <h1 class="text-5xl font-EncodeSansSC font-thin">a</h1>
      <h1 class="text-5xl font-EncodeSansSC font-thin mt-7">D</h1>
    </div>
  </div>
  <app-navbar></app-navbar>
</div>
